{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>
<body>
    Galeria de proyectos
    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>

    <div class="row">
      {% if projects %}
      {% for project in projects %}

      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'detail' name=project.name %}">{{ project.name }}</a>
            </h4>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}

    </div>
</body>
</html>